@import-normalize;

@font-face {
  font-family: 'Merriweather';
  src: url('./fonts/Merriweather-Bold.ttf');
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Merriweather';
  background-color: #030308;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
