@import-normalize;

@font-face {
  font-family: 'Roboto';
  src: url('./assets/Roboto-Regular.ttf');
  font-style: normal;
}

$background-color: #030308;

body {
  margin: 0;
  font-family: 'Roboto';
  background-color: $background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
